body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  min-height: 100%;
  background: #849d8f;
  */ position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  /*background-image: url("../img/slider-icecream1.png");
  background-repeat: no-repeat;
  background-position: top left 50.3%;*/
}

.inner-page {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  background: #849d8f;
  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.light-bg {
  width: 100%;
  background-image: url("../img/light-bg.png");
  background-repeat: repeat-x;
  background-position: top center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main-header a[href="index.html"] {
  display:block;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
}

.site-wrapper {
  position: absolute;
  width: 100%;
  background-color: #849d8f;
  background-image: url("../img/slider-icecream1.png");
  background-repeat: no-repeat;
  background-position: top 0.1px left 50.3%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 900;
  background-color: #999999;
  opacity: 0.3;
  display: none;
}


/*HEADER*/

nav ul {
  list-style: none;
}

.inner-page header {
  padding-top: 1px;
}

.logo {
  float: left;
  margin-top: 9px;
  padding: 0;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 22.5px;
}

.inner-page .main-nav {
  padding-top: 22.5px margin-right: 1px;
}


/*SITE NAVIGATION*/

.site-nav {
  margin: 0;
  padding: 0;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 11px;
  flex-wrap: wrap;
}

.site-nav a {
  display: block;
  padding: 7px 12.5px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: underline;
  -webkit-text-decoration-color: #a5bbaf;
  text-decoration-color: #a5bbaf;
}

.site-nav-current-page {
  width: 87px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #d07058;
  border-radius: 15px;
  margin-right: 3.4px;
  margin-left: -1px;
  padding-left: 1px;
}

.site-nav-current-page + a:focus {
  outline: 2px solid blue;
}

.site-nav-current-page > a {
  text-decoration: none;
}
.site-nav-li {
  outline: none;
}

.site-nav-li:nth-child(2) {
  margin-left: 3px;
}

.inner-site-nav:nth-child(2) {
  margin-left: -1px;
}

.site-nav-li:nth-child(3) {
  margin-left: 3.7px;
}

.site-nav ul {
  z-index: 5;
}

.dropdown-cat {
  position: relative;
}

.dropdown-cat::after {
  content: "";
  position: absolute;
  width: 87px;
  height: 10px;
  top: 29px;
  left: 0;
}

.dropdown {
  margin: 0;
  padding: 0;
  width: 143px;
  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 37px;
  left: -8px;
  display: none;
}

.dropdown .current-page {
  background-color: #d07058;
  color: #ffffff;
  width: 111px;
}

.dropdown a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
  white-space: nowrap;
  padding-top: 6px;
  padding-bottom: 6.5px;
  padding-left: 20px;
  text-decoration: none;
}

.dropdown :nth-child(1) a {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  padding-top: 11px;
  position: relative;
  padding-bottom: 11px;
}

.dropdown :nth-child(1) a::after {
  content: "";
  position: absolute;
  width: 128px;
  height: 1px;
  background-color: #d1d0ce;
  top: 38px;
  left: 6px;
}

.dropdown :nth-child(2) a {
  padding-top: 11px;
  padding-bottom: 9px;
}

.dropdown :nth-child(3) a {
  padding-bottom: 8.7px;
}

.dropdown :nth-child(4) a {
  padding-bottom: 8px;
}

.dropdown :nth-child(5) a {
  padding-bottom: 14px;
}

.site-nav-li:hover:not(.site-nav-current-page) a,
.site-nav-li:focus:not(.site-nav-current-page) a {
  color: black;
  background-color: #f7f6f3;
  border-radius: 15px;
  outline: none;
}
.site-nav-li:not(.site-nav-current-page) a:hover,
.site-nav-li:not(.site-nav-current-page) a:focus {
  color: black;
  background-color: #f7f6f3;
  border-radius: 15px;
  outline: none;
}

.site-nav-li:not(.site-nav-current-page)>a:active,
.inner-site-nav:not(.site-nav-current-page)>a:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px #696969;
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 15px;
}

.dropdown a:hover:not(.current-page),
.dropdown a:focus:not(.current-page) {
  background-color: #fbded7;
  border-radius: 5px;
  outline: none;
}

.dropdown a:active:not(.current-page) {
  background-color: #f6b5a5;
}

.dropdown-cat:hover .dropdown {
  display: block;
  border-radius: none;
  color: black;
}


/*USER-NAVIGATION*/

.user-nav {
  width: 269px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: -2px;
}

.inner-page .user-nav {
  margin-right: -1px;
}

.search-container {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  margin-left: 6px;
  margin-right: 10.5px;
  position: relative;
}

.inner-page .search-container {
  margin-left: 6.9px;
}

.search-container::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 5px;
  top: 32px;
}

.search-img {
  position: absolute;
  top: 24%;
  left: 24%;
}

.search {
  display: none;
  position: absolute;
  top: 60px;
  right: 330px;
}

.search form {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  height: 84px;
  width: 341px;
  background: #f8f7f4;
  position: relative;
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.search-form ::-webkit-input-placeholder {
  font-weight: normal;
}

.search-form:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-form {
  padding-left: 10px;
  border: 1px solid #d3d3d2;
  width: 309px;
  height: 42px;
  border-radius: 5px;
  position: absolute;
  top: 19px;
  left: 15px;
}

.search-container:hover path,
.search-container:focus path {
  fill: #333333;
  outline: none;
}

.search-container:hover,
.search-container:focus  {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.search-wrapper:hover .search,
.search-container:active .search {
  display: block;
}

.search-form:hover {
  border: 2px solid #c7c6c5;
}

.search-form:active {
  border: 2px solid #8fbdec;
}

.login,
.basket {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 8px;
  border-radius: 15px;
  padding-left: 44px;
}

.login {
  width: 92px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 17px;
}

.basket {
  width: 117px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 34px;
}

.basket-with-goods {
  padding-right: 14px;
  background-color: #f7f6f3;
  color: #323232;
  font-weight: 500px;
}

.login svg,
.basket svg {
  position: absolute;
  left: 16px;
  top: 6px;
}

.user-nav .login {
  margin-right: 10px;
}

.inner-page .search-container {
  margin-right: 11px;
}

.user-nav .inner-page-login {
  margin-right: 9px;
}

.login:hover path,
.login:hover polygon,
.login:hover,
.login:active,
.basket:hover,
.basket:hover path,
.basket:hover circle,
.login:focus path,
.login:focus polygon,
.login:focus,
.basket:focus,
.basket:focus path,
.basket:focus circle {
  fill: #333333;
  color: #323232;
  background-color: rgb(255, 255, 255, 1);
  outline: none;
}

.login a {
  padding-right: 15px;
}

.basket a {
  padding-right: 34px;
}

.login-wrapper {
  position: relative;
}

.login-form {
  position: absolute;
  width: 277px;
  height: 214px;
  top: 36px;
  right: 8px;
  background-color: #f8f7f4;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 5;
}

.login-form form {
  padding-top: 20px;
  padding-left: 19px;
}

.login-form input {
  width: 241px;
  height: 44px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #999999;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  font-weight: bold;
  padding-left: 13px;
  margin-bottom: 20px;
}

.login-email:hover,
.login-password:hover {
  border: 2px solid #c7c6c5;
}

.login-email:active,
.login-password:active {
  border: 2px solid #8fbdec;
}

.login-form ::-webkit-input-placeholder {
  font-weight: normal;
}

.login-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.login-form .login-btn {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 44px;
  background: linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 20px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
}

.login-btn:hover {
  background: linear-gradient(to top, #ec6f5e, #f58669);
  cursor: pointer;
}

.login-btn:active {
  background: linear-gradient(to top, #e1613e, #d84732);
  box-shadow: inset 0px 2px 2px #942718;
}

.login-form ul {
  position: absolute;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  bottom: 23px;
  right: 19px;
}

.login-form li:first-child {
  margin-bottom: -4px;
}

.login-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.login-form a:hover,
.login-form a:active {
  color: #e84d37;
}

.login-wrapper:hover .login-form {
  display: block;
}


/*OPEN BASKET*/

.basket-wrapper {
  position: relative;
}

.basket-wrapper::before {}

.open-basket {
  display: none;
  position: absolute;
  top: 36px;
  right: 1px;
  width: 540px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f8f7f4;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  border-radius: 5px;
  padding-top: 19.5px;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.open-basket ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  margin-left: 41px;
  padding-bottom: 16px;
  width: 560px;
}

.open-basket a {
  color: #323232;
}

.basket-item a:hover,
.basket-item a:active {
  color: #e84d37
}

.open-basket span {
  color: #999999;
}

.cancellations {
  position: relative;
}

.cancellations::before {
  content: "";
  width: 15px;
  height: 1px;
  background: #231f20;
  position: absolute;
  top: 14px;
  left: -27px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cancellations::after {
  content: "";
  width: 15px;
  height: 1px;
  background: #231f20;
  position: absolute;
  top: 14px;
  left: -27px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.open-basket img {
  border-radius: 50%;
  margin-bottom: 0px;
}

.basket-img {
  margin-right: 13px;
}

.basket-item,
.basket-weight,
.basket-item-cost {
  padding-top: 9px;
}

.basket-item {
  width: 220px;
  margin-right: 27px;
}

.basket-weight {
  width: 95px;
  margin-right: 28px;
}

.basket-item-cost {
  width: 65px;
  padding-right: 32px;
}

.second-ul::after {
  content: "";
  width: 510px;
  height: 1px;
  background-color: #cacac7;
  position: absolute;
  left: 15px;
  top: 130px;
}

.open-basket .basket-final-cost {
  display: block;
  color: #323232;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  margin-left: 419px;
  margin-top: 15px;
  margin-bottom: 13.5px;
}

.basket-btn {
  display: block;
  width: 170px;
  height: 44px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 20px;
  margin-left: 355px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: 21px;
}

.open-basket .basket-btn {
  color: #fefefe;
}

.basket-btn:hover {
  background: linear-gradient(to top, #ec6f5e, #f58669);
}

.basket-btn:active {
  background: linear-gradient(to top, #e1613e, #d84732);
  box-shadow: inset 0px 2px 2px #942718;
}

.basket-wrapper:hover .open-basket {
  display: block;
}


/*WORKTIME*/

.worktime {
  width: 200px;
  margin-left: 995.8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4.5px;
}

.inner-page .worktime {
  padding-bottom: 5px;
}

.worktime a {
  display: block;
  font-size: 22px;
  line-height: 24px;
  margin-left: -14.9px;
  font-weight: bold;
  padding-top: 4px;
}

.worktime a:hover,
.worktime a:focus {
  color: #ffbc9e;
  outline: none;
}

/*BREADCRUMPS*/

.breadcrumps ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.breadcrumps {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  letter-spacing: 0.2px;
  margin-top: -39px;
}

.breadcrumps li {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  margin-right: 16px;
}

.breadcrumps li::after {
  content: "»";
  position: absolute;
  left: 61px;
  top: 0;
}

.breadcrumps a {
  text-decoration: underline;
}

.breadcrumps a:hover,
.breadcrumps a:active,
.breadcrumps a:focus {
  outline: none;
  color: #ffbc9e;
}


/*MAIN*/

main {
  display: block;
}


/*CATALOG-NAME*/

.catalog-name {
  width: 400px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  letter-spacing: 0.03px;
  margin-left: -0.5px;
  margin-bottom: 25.22px;
  margin-top: 4px;
}

/*SLIDER*/

.slider {
  position: relative;
  margin-bottom: 41px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider h2 {
  width: 675px;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
  margin: 0 auto;
  margin-top: 271px;
}

.order-btn {
  display: block;
  width: 280px;
  height: 64px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(to top, #e74a35, #f26843);
  text-align: center;
  vertical-align: middle;
  border-radius: 40px;
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  margin-top: 30.3px;
  margin-left: 433.8px;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  text-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
  padding-top: 9px;
}

.order-btn:hover,
.order-btn:focus {
  background: linear-gradient(to top, #ec6f5e, #f58669);
}

.order-btn:active {
  background: linear-gradient(to top, #e1613e, #d84732);
  box-shadow: inset 0px 2px 2px #942718;
}

.slider-input {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0.5px;
  font-size: 0;
}


.slider-controls label {
  display: inline-block;
  width: 16.4px;
  height: 16.4px;
  margin-right: 8.9px;
  vertical-align: top;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label:last-child {
  margin-right: 0;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-1,
.slider-2,
.slider-3 {
  display: none;
}

.slider1:checked~.site-wrapper .slider-1,
.slider2:checked~.site-wrapper .slider-2,
.slider3:checked~.site-wrapper .slider-3 {
  display: block;
}

.slider1:checked~.site-wrapper label[for="slider1"],
.slider2:checked~.site-wrapper label[for="slider2"],
.slider3:checked~.site-wrapper label[for="slider3"] {
  background-color: #ffffff;
}

.slider1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-icecream1.png");
}

.slider2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-icecream2.png");
}

.slider3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-icecream3.png");
}


/*GET-FREE*/

.get-free {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.get-free a {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.get-free-raspberry {
  /*width: 542px;*/
  min-height: 229px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #b10015, #984463);
  background-image: url(../img/raspberry-bg.jpg);
  background-position: top 52% left 22%;
}

.get-free-raspberry h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin-top: 15.5px;
}

.get-free-raspberry p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-top: -14.21px;
  margin-right: 17px;
  padding-left: 1px;
  letter-spacing: 0.03px;
}

.get-free-item {
  width: 560px;
  box-sizing: border-box;
  position: relative;
  padding-left: 17.9px;
}

.get-free-raspberry .get-free-btn {
  display: block;
  width: 165px;
  height: 46px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(to top, #e74a35, #f26843);
  text-align: center;
  border-radius: 40px;
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  /*position: absolute;
  right: 21px;
  bottom: 23px;*/
  margin: 44px 20px 21.39px 357px;
  padding-top: 10px;
  padding-bottom: 12.67px;
  padding-right: 2.5px;
}

.get-free-chocolate {
  /*width: 542px;*/
  min-height: 229px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #41210e, #583633);
  background: url(../img/chocolate-bg.jpg);
  padding-left: 18.2px;
}

.get-free-chocolate h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin-top: 16px;
  letter-spacing: 0.15px;
}

.get-free-chocolate p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-top: -15.3px;
  padding-left:  1px;
  letter-spacing: 0.01px;
}

.get-free-chocolate .get-free-btn {
  display: block;
  width: 188px;
  height: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(to top, #e74a35, #f26843);
  text-align: center;
  border-radius: 23px;
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  padding-top: 9px;
  padding-bottom: 12.43px;
  /*position: absolute;
  right: 20.5px;
  bottom: 23.39px;*/
  margin: 45px 21.5px 23.4px 333px;
  letter-spacing: 0.1px;
}

.get-free-btn:hover,
.get-free-btn:focus {
  background: linear-gradient(to top, #ec6f5e, #f58669);
}

.get-free-btn:active {
  background: linear-gradient(to top, #e1613e, #d84732);
  box-shadow: inset 0px 2px 2px #942718;
}


/*FILTERS*/

.filter {
  width: 880px;
  position: relative;
}

.filter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}


/*SORT*/

form .filter-sort {
  margin-right: 15px;
}

.filter-sort legend {
  margin-left: 17px;
  margin-bottom: 6.5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-sort select {
  width: 194px;
  height: 37px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -100;
  border-radius: 35px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  border: none;
}

.filter-sort select::-ms-expand {
  display: none;
}

.filter-sort select::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  top: 0;
  left: 0;
}

.filter-sort select:hover,
.filter-sort select:hover:focus {
  color: black;
}

.filter-sort option {
  width: 192px;
  height: 22px;
  color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}


/*PRICE*/

.filter-price {
  width: 218px;
}

.filter-price span {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 1px;
  margin-bottom: 6.5px;
  margin-left: 14.9px;
  letter-spacing: 0.275px;
}

.filter-price-container {
  width: 218px;
  height: 36px;
  margin-right: 15px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}

.filter-price-container .scale {
  margin: 0 auto;
  background-color: #d1dad3;
  width: 176px;
  height: 4px;
  position: absolute;
  top: 16px;
  left: 21px;
}

.scale input[name="max-price"]:focus+div,
.scale input[name="min-price"]:focus+div {
  outline:1px solid blue;
}

.filter-price-container .active-scale {
  width: 106px;
  height: 4px;
  position: absolute;
  background-color: #f8f7f4;
  top: 0px;
  left: 16px;
}

.filter-price-container .toggle {
  position: absolute;
  top: -8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.filter-price-container .min-toggle {
  left: 13px;
}

.filter-price-container .max-toggle {
  left: 111px;
}

/*GREASY*/

.filter-greasy {
  width: 415px;
}

.filter-greasy legend {
  margin-left: 16.2px;
  margin-bottom: 6.8px;
}

.greasy-container {
  width: 415px;
  height: 36px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding-left: 46.8px;
  padding-top: 9.5px;
  position: relative;
  margin-bottom: 16.4px;
}

.greasy-container label {
  margin: 0;
  padding: 0;
  margin-right: 46px;
  cursor: pointer;
  position: relative;
}

.greasy-container label:nth-child(2) {
  padding-top: 0px;
}

.greasy-container:nth-child(6) {
  margin-right: 45px;
}

.greasy-container label:last-child {
  margin-right: 0px;
}

.greasy-container label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  top: -1px;
  left: -32px;
  opacity: 0.8;
}

.greasy-input:hover + label::before,
.greasy-input:focus + label::before {
  opacity: 1;
}

.greasy-input:checked+label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  top: -1px;
  left: -32px;
}

.greasy-input:focus+label::before {
  outline:1px solid blue;
}

/*FILLER*/

.filter-filler legend {
  font-size: 14px;
  color: #ffffff;
  margin-left: 16px;
  margin-bottom: 6.3px;
}

.filler-container {
  width: 702px;
  height: 36px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  position: relative;
  padding-left: 48px;
  padding-top: 6px;
  margin-right: 14px;
}

.filter-filler label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500px;
  color: #ffffff;
  margin-right: 48.5px;
  position: relative;
  cursor: pointer;
  z-index: 100;
}

.filter-filler :nth-child(4) {
  margin-right: 51px;
}

.filter-filler :nth-child(6) {
  margin-right: 52px;
}

.filter-filler :nth-child(8) {
  margin-right: 50px;
}

.filter-filler label:last-child {
  margin-right: 0px;
}

.filler-input+label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  top: -1px;
  left: -33px;
  opacity: 0.8;
  z-index: -50;
  cursor: pointer;
}

.filler-input:checked+label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 20px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  border: none;
  top: -1px;
  left: -33px;
  opacity: 0.8;
  cursor: pointer;
}

.filler-input:checked::active+label {
  background-image: none;
}

.filler-input:hover+label::before {
  opacity: 1;
  outline: none;
}

.filler-input:focus+label::before {
  outline: 1px solid blue;
}


/*FILTER-BUTTON*/

.filter-btn {
  width: 144px;
  height: 36px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 22px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.188);
  border: 2px solid #fcfcfc;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding-left: 8px;
  padding-top: 1px;
  margin-bottom: 40px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.filter-btn:active {
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px #696969;
  outline: none;
}


/*HIT-ITEMS + CATALOG-LIST*/

.catalog-list li {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.catalog .catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
}

.hits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 21.4px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hit-item,
.catalog-item {
  max-width: 267px;
  position: relative;
  display: block;
}

.catalog-item {
  margin-bottom: 22px;
}

.hit-item img,
.catalog-item img {
  border-radius: 50%
}

.hit-price,
.catalog-price {
  position: absolute;
  top: 179px;
  left: -0.5px;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 1px 0px 1px #313235;
}

.hit-price span {
  font-size: 45px;
  line-height: 45px;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog-price span {
  font-size: 45px;
  line-height: 45px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 28.3px;
}

.hit-item-description,
.item-description {
  display: block;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: #9db1a5;
  text-decoration-color: #9db1a5;
  margin-top: 7px;
  padding-left: 3px;
  padding-right: 3px;
  letter-spacing: 0.08px;
  position: relative;
  z-index: 500;
}

.hit-item-description:hover,
.item-description:hover,
.hit-item-description:active,
.item-description:active {
  color: #ffbc9e;
  outline: none;
}

.hit-item:focus .item-descripton,
.catalog-item:focus .item-descripton {
  color: #ffbc9e;
}

.item-description-p {
  padding-top: 2px;
}

.catalog-item svg {
  position: absolute;
  top: 5px;
  left: 81px;
}

.catalog-item .svg-2 {
  position: absolute;
  top: 5px;
  left: 83px;
}

.hit-item svg {
  margin: -5px;
}

.hit-img {
  position: absolute;
  top: 0;
  left: 0;
}

.fast-view-wrapper {
  display: none;
  width: 293px;
  height: 405px;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: -6px;
  left: -13px;
  z-index: 100;
}

.fastview-btn {
  display: none;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 25px;
  text-align: center;
  padding-top: 10px;
  -webkit-box-shadow: 0px 1px 2px #ac1000;
  box-shadow: 0px 1px 2px #ac1000;
  top: 333px;
  left: 33px;
  z-index: 500;
}

.catalog-item:hover .fast-view-wrapper,
.catalog-item:hover .fastview-btn,
.hit-item:hover .fast-view-wrapper,
.hit-item:hover .fastview-btn {
  display: block;
}

.fastview-btn:hover {
  background: linear-gradient(to top, #ec6f5e, #f58669);
}

.fastview-btn:active {
  background: linear-gradient(to top, #e1613e, #d84732);
  box-shadow: inset 0px 2px 2px #942718;
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 267px;
  height: 15px;
  bottom: -10px;
}


/*FEATURES*/

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #323232;
  background: linear-gradient(to bottom, #e8d8b2, #e5d0a8);
  background-image: url(../img/waffle.png);
  border-radius: 15px;
  margin-bottom: 40px;
}

.features-item {
  position: relative;
  width: 560px;
}

.features h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  padding-left: 19.8px;
  font-weight: 500;
  padding-top: 25.8px;
  padding-bottom: 23.5px;
  letter-spacing: 0.15px;
}

.features-item p {
  margin: 0;
  margin-top: -3px;
  padding-left: 76px;
  letter-spacing: 0.04px;
  margin-bottom: 12px;
}

.features-item:nth-child(3) p {
  letter-spacing: 0.02px;
}

.features-item:last-child,
.features-item:nth-child(3) {
  margin-left: 7px;
}

.features-item:last-child,
.features-item:nth-child(4) {
  margin-top: 13px;
  margin-bottom: 12px;
}

.features :nth-child(2) img,
.features :nth-child(4) img {
  position: absolute;
  top: -15.5px;
  left: 20px;
}

.features :nth-child(3) img,
.features :last-child img {
  position: absolute;
  top: -15.5px;
  left: 18px;
}


/*BLOG & SUBSCRIBE WRAPPER*/

.flex-wrapper {
  width: 1146px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}


/*BLOG*/

.blog-item {
  background: #ffffff;
  background-image: url(../img/strawberry-bg.jpg);
  background-position: 27% 31%;
  background-repeat: no-repeat;
  max-width: 560px;
  min-height: 220px;
  border-radius: 15px;
  margin-right: 26px;
}

.blog-item p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-top: 22px;
}

.blog-item b {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: -11px;
}

.blog-item a {
  color: black;
}
.blog-item a:hover,
.blog-item a:focus {
  color: #e84d37;
  outline: none;
}

.blog-item p,
b {
  color: black;
  display: block;
  width: 305px;
  padding-left: 20px;
}


/*SUBSCRIBE*/

.subscribe {
  width: 560px;
  box-sizing: border-box;
  background: #ffffff;
  background-image: url(../img/post-bg.svg);
  background-repeat: no-repeat;
  border-radius: 15px;
  background-size: cover;
  padding: 5px;
  padding-left: 6px;
}

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  padding-top: 29px;
  padding-left: 21px;
  padding-right: 10.751px;
  color: #5a5a5a;
  padding-bottom: 20px;
}

.subscribe div {
  width: 550px;
  min-height: 210px;
  background-color: #f8f7f4;
  border-radius: 10px;
  margin-top: -16px;
}

.subscribe-email {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  width: 368px;
  height: 44px;
  padding-left: 14px;
  margin-left: 20px;
  margin-bottom: 35px;
  margin-right: 8px;
}

.subscribe-email:hover {
  border: 2px solid #c7c6c5;
}

.subscribe-email:focus {
  border: 2px solid #8fbdec;
}

.subscribe-email::-webkit-input-placeholder {
  color: #999999;
  font-weight: normal;
}

.subscribe-email:focus::-webkit-input-placeholder {
  color: transparent;
}

.subscribe-btn {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 129px;
  height: 44px;
  border-radius: 25px;
  background: linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: white;
  padding-bottom: 1px;
  border: none;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background: linear-gradient(to top, #ec6f5e, #f58669);
  cursor: pointer;
}

.subscribe-btn:active {
  background: linear-gradient(to top, #e1613e, #d84732);
  box-shadow: inset 0px 2px 2px #942718;
}


/*MAP*/

.map {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  /*background-image: url("../img/map.jpg");
  background-repeat: no-repeat;*/
}

.map iframe {
  width: 1200px;
  height: 428px;
  position: relative;
  border: 0;

}

.contacts p {
  margin: 0;
  padding: 0;
}

.contacts b {
  margin: 0;
  padding: 0;
}

.contacts {
  position: absolute;
  width: 302px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 15px;
  top: 61.6px;
  left: 871px;
}

address {
  width: 223px;
  font-style: normal;
  padding-top: 29px;
  padding-left: 25px;
}

.contacts p {
  width: 160px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  letter-spacing: 0.08px;
}

address :first-child {
  padding-bottom: 9px;
}

address :nth-child(2) {
  width: 180px;
}

.contacts b {
  width: 235px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 1px;
}

.contacts .contacts-tel {
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #323232;
  margin-top: 5px;
  margin-bottom: -6px;
}

.contacts-tel:hover,
.contacts-tel:active {
  color: #ffbc9e;
  outline: none;
}
.feedback-btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 250px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background: linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  padding-left: 29px;
  padding-top: 9.6px;
  border-radius: 25px;
  margin-top: 24px;
  margin-bottom: 30.5px;
}

.feedback-btn:hover,
.feedback-btn:focus {
  background: linear-gradient(to top, #ec6f5e, #f58669);
}

.feedback-btn:active {
  background: linear-gradient(to top, #e1613e, #d84732);
  box-shadow: inset 0px 2px 2px #942718;
}

/*PAGINATION*/

.catalog .pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 969px;
  position: relative;
}

.pagination-list li {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  margin-right: 16px;
}

.pagination-item a {
  display: block;
  text-align: center;
  position: relative;
}

.pagination-icon-disabled {
  display: block;
  position: relative;
}

.pagination-icon-disabled::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  width: 7px;
  height: 12px;
  top: -11px;
  left: -12px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.2;
}

.pagination-item a :last-child {
  margin-right: 0px;
}

.pagination-icon-next::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-right-small.svg);
  fill: #ffffff;
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
  top: -33px;
  left: 169px;
}

.pagination-item-current a {
  position: relative;
  color: #323232;
}

.pagination-item-current a::before {
  content: "";
  position: absolute;
  top: -12%;
  left: -91%;
  width: 26px;
  height: 26px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: -100;
}

.pagination-item-nc a::before {
  content: "";
  position: absolute;
  top: -12%;
  left: -91%;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
}

.pagination-next-link::before {
  content: "";
  position: absolute;
  top: -41px;
  left: 159px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
}

.pagination-item-nc:hover a::before,
.pagination-item-nc a:focus::before,
.pagination-next-link:hover::before,
.pagination-next-link:focus::before {
  display: block;
}


/*SEPARATOR*/

.catalog {
  position: relative;
}

.catalog::after {
  content: "";
  position: absolute;
  margin-top: auto;
  width: 1146px;
  bottom: -10px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.302);
}


/*FOOTER*/

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 11px;
}

footer a {
  border-bottom: 1px solid #9db1a5;
}

footer a:hover,
footer a:focus {
  color: #ffbc9e;
}

.inner-page .main-footer {
  margin-top: 27.9px;
}


/*SOCIAL*/

.social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-left: 2px;
}

.inner-footer ul {
  margin-left: 1.8px;
}

.social li {
  position: relative;
  margin-right: 12px;
}

.social img {
  border: 2px solid #c2cec7;
  border-radius: 50%;
  opacity: 0.5;
}

.social a {
  border: none;
}

.social svg {
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
}

.social svg:hover,
.social svg:focus {
  border: 2px solid rgba(255, 255, 255, 1);
}

.social path {
  opacity: 0.8;
}

.social-btn :hover path,
.social-btn :active path,
.social-btn :focus path {
  opacity: 1;
}

.social-btn:active svg {
  border: 2px solid rgba(255, 255, 255, 0.7);
}


/*ABOT-US*/

.about-us {
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -12px;
  margin-left: 225px;
  position: relative;
}

.about-us ::before {
  content: "";
  position: absolute;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  top: 8px;
  left: -22px;
}

.about-us a {
  font-size: 13px;
  line-height: 18px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: block;
  padding-top: 5px;
}

.about-us :nth-child(2) {
  margin-right: 31px;
  font-weight: bold;
  margin-bottom: 0px;
}

.about-us :nth-child(4) {
  margin-right: 44px;
}

.about-us :nth-child(4),
.about-us :nth-child(5) {
  padding-top: 2.5px;
}

.about-us::before {
  content: "";
}


/*COPYRIGHT*/

.copyright {
  margin-left: auto;
}

.copyright p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.copyright a {
  font-size: 12px;
  line-height: 18px;
}

.copyright p {
  display: block;
  padding-bottom: 20.7px;
}
.copyright svg {
  padding-left: 1.5px;
}

.copyright :nth-child(2) {
  border: none;
}


/*FEEDBACK-FORM*/

.feedback-form {
  display: none;
  position: fixed;
  top: calc(50% - 221.5px);
  left: calc(50% - 239px);
  width: 478px;
  height: 443px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f8f7f4;
  border-radius: 10px;
  padding-bottom: 20PX;
  padding-left: 22px;
  z-index: 1000;
}

/*.feedback-form-close {
  display: none;
}*/

.feedback-form b {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  padding: 12px 0px 20px 0px;
  white-space: nowrap;
  padding-top: 12px;
}

.feedback-form a {
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 15px;
  color: black;
}

.feedback-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feedback-form input {
  width: 267px;
  height: 44px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #999999;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  padding-left: 11px;
}

.feedback-form textarea {
  max-width: 432px;
  height: 159px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  font-weight: bold;
  padding-left: 11px;
  border: 1px solid #999999;
  border-radius: 5px;
  margin-bottom: 20px;
}

.feedback-name-input:hover,
.feedback-email-input:hover,
.feedback-textarea:hover {
  border: 2px solid #c7c6c5;
}

.feedback-name-input:active,
.feedback-email-input:active,
.feedback-textarea:active {
  border: 2px solid #8fbdec;
}

.feedback-name-input::-webkit-input-placeholder,
.feedback-email-input::-webkit-input-placeholder,
.feedback-textarea::-webkit-input-placeholder {
  font-weight: normal;
  color: #999999;
}

.feedback-name-input:focus::-webkit-input-placeholder,
.feedback-email-input:focus::-webkit-input-placeholder,
.feedback-textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.feedback-form .feedbacksend-btn {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 139px;
  height: 44px;
  background: linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 45px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  margin-left: 290px;
}

.feedbacksend-btn:hover {
  background: linear-gradient(to top, #ec6f5e, #f58669);
  cursor: pointer;
}

.feedbacksend-btn:active {
  background: linear-gradient(to top, #e1613e, #d84732);
  box-shadow: inset 0px 2px 2px #942718;
}
body .feedback-form-open {
  display: block;
}
.overlay-show {
  display: block;
}
